apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.26.0 (40646f47)
    prometheus.io/scrape: 'true'
    prometheus.io/path: '/metrics'
    name: keycloak
  creationTimestamp: null
  labels:
    io.kompose.service: keycloak
  name: keycloak
spec:
  replicas: 2
  selector:
    matchLabels:
      io.kompose.service: keycloak
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.26.0 (40646f47)
      creationTimestamp: null
      labels:
        io.kompose.service: keycloak
    spec:
      containers:
        - args:
            - start-dev
          env:
            - name: JAVA_OPTS_APPEND
              value: -Dkeycloak.profile.feature.upload_scripts=enabled -Djboss.site.name=site1
            - name: KC_DB
              value: postgres
            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-secrets
                  key: KC_DB_PASSWORD
            - name: KC_DB_URL
              value: jdbc:postgresql://postgres/keycloak
            - name: KC_DB_USERNAME
              value: keycloak
            - name: KEYCLOAK_ADMIN
              value: admin
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: dory.srvs.cloudkafka.com:9094
            - name: KAFKA_USERNAME
              valueFrom:
                secretKeyRef:
                  name: keycloak-secrets
                  key: KAFKA_USERNAME
            - name: KAFKA_TOPIC_PREFIX
              valueFrom:
                secretKeyRef:
                  name: keycloak-secrets
                  key: KAFKA_TOPIC_PREFIX
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-secrets
                  key: KEYCLOAK_ADMIN_PASSWORD
            - name: KAFKA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-secrets
                  key: KAFKA_PASSWORD
            - name: KC_CACHE
              value: ispn
            - name: KC_LOG_LEVEL
              value: INFO,org.infinispan:DEBUG,org.jgroups:DEBUG
            - name: KC_HEALTH_ENABLED
              value: 'true'
            - name: KC_METRICS_ENABLED
              value: 'true'
          image: quay.io/keycloak/keycloak:21.0.0
          name: keycloak
          ports:
            - containerPort: 8080
          resources: {}
          volumeMounts:
            - mountPath: /opt/keycloak/themes
              name: keycloak-themes-volume
            - mountPath: /opt/keycloak/providers
              name: keycloak-provider-volume
      restartPolicy: Always
      volumes:
        - name: keycloak-themes-volume
          hostPath:
            path: /host/themes
        - name: keycloak-provider-volume
          hostPath:
            path: /host/providers/dist